.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 328px;
    background-color: var(--white);
    border-radius: 22px;
    gap: 16px; /* Ajuste para manter espaçamento controlado */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; /* Necessário para posicionar o conteúdo absoluto */
    overflow: hidden; /* Evita que o conteúdo extrapole */
    transition: all 0.3s ease; /* Transição suave no hover */
}

.container-card:hover {
    background: none;
    background-color: var(--white);
}

/* Seção de texto (título e descrição) */
.minify-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    color: var(--black);
    transition: opacity 0.3s ease;
    padding: 8px;
    max-width: 90%; /* Ajuste para evitar overflow */
    word-wrap: break-word; /* Garante que palavras longas sejam quebradas */
    white-space: normal; /* Permite que o texto quebre automaticamente */ /* Espaço interno para evitar que o texto toque as bordas */
    h2{
        font-size: 20px;
        max-width: 90%; /* Ajuste para evitar overflow */
        word-wrap: normal; /* Garante quebra de palavras */
        white-space: normal; 
    }
    p{
        font-size: 16px;
        max-width: 90%; /* Define largura máxima para evitar estouro */
        word-wrap: break-word; 
        white-space: normal;
    }
}

.container-card:hover .minify-projects {
    opacity: 1; /* Mostra o conteúdo no hover */
}

/* Links de ícones */
.links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px; /* Mantém espaçamento fixo entre ícones */
    position: absolute; /* Posiciona na parte inferior do card */
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    word-wrap: break-word; /* Evita quebra inesperada de texto */
    overflow-wrap: break-word;
}

.links-container img {
    width: 45px; /* Define tamanho fixo dos ícones */
    object-fit: contain;
}
