<div class="container-card" 
     [ngStyle]="{'background-image': 'url(' + linkImg + ')'}" 
     (mouseenter)="isHovered = true"
     (mouseleave)="isHovered = false"
     [class.hovered]="isHovered">
  
    <div class="minify-projects">
        <h2>{{ title }}</h2>
        <p>{{ text }}</p>
    </div>

    <div class="links-container">
        <!-- O link do projeto só aparece se existir -->
        <a *ngIf="linkProject" [href]="linkProject" target="_blank">
            <img src="/assets/imgs/png/link-project-card.png" alt="Projeto">
        </a>

        <!-- O link do GitHub sempre aparece -->
        <a [href]="linkGithub" target="_blank">
            <img src="/assets/imgs/png/githu-card.png" alt="GitHub">
        </a>
    </div>
</div>
