<div class="bar-container" *ngFor="let bar of barLevels; let i = index">
  <img
    [src]="'/assets/imgs/png/bar-' + bar.label.toLowerCase() + '.png'"
    [alt]="bar.label + ' Icon'"
    [ngClass]="bar.iconClass"
  />

  <div class="bar-wrapper">
    <div class="bar">
      <div
        #barRef
        [class]="bar.cssClass"
        [style.--bar-color]="bar.color"
      ></div>

      <div class="stars" [ngStyle]="{ color: bar.color }">
        <ng-container *ngFor="let star of getStars(bar.width)">
          ★
        </ng-container>
      </div>
    </div>

    <!-- Fora da .bar, mas ainda alinhada -->
    <div class="percentage" [ngStyle]="{ color: bar.color }">
      {{ displayedPercents[i] }}%
    </div>
  </div>
</div>