.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
  
    img {
      margin-right: 15px;
    }
  
    .bar {
      width: 322px;
      height: 17px;
      background-color: var(--white);
      border-radius: 22px;
      overflow: hidden; /* Garante que as barras internas não ultrapassem os limites */
      div {
        height: 17px;
        border-radius: 22px;
        width: 0; /* Começa com largura 0 */
        transition: width 1s ease-in-out; /* Transição suave da largura */
        border: 1px solid;
      }
      .level1 {
        background-color: #b71c1c;
      }
      .level2 {
        background-color: #ea4134;
      }
      .level3 {
        background-color: #1976d2;
      }
      .level4 {
        background-color: #ffc107;
      }
      .level5 {
        background-color: #0277bd;
      }
      .level6 {
        background-color: #8bc34a;
      }
    }
  }
  