<div class="bar-container">
    <img src="/assets/imgs/png/bar-angular.png" alt="Angular Icon">
    <div class="bar">
      <div class="level1"></div>
    </div>
  </div>
  <div class="bar-container">
    <img src="/assets/imgs/png/bar-java.png" alt="Java Icon">
    <div class="bar">
      <div class="level2"></div>
    </div>
  </div>
  <div class="bar-container">
    <img src="/assets/imgs/png/bar-type.png" alt="TypeScript Icon">
    <div class="bar">
      <div class="level3"></div>
    </div>
  </div>
  <div class="bar-container">
    <img src="/assets/imgs/png/bar-python.png" alt="Python Icon">
    <div class="bar">
      <div class="level4"></div>
    </div>
  </div>
  <div class="bar-container">
    <img src="/assets/imgs/png/bar-postgres.png" alt="Postgres Icon">
    <div class="bar">
      <div class="level5"></div>
    </div>
  </div>
  <div class="bar-container">
    <img src="/assets/imgs/png/bar-spring.png" alt="Spring Icon">
    <div class="bar">
      <div class="level6"></div>
    </div>
  </div>
  