header {
    width: 100%;
    display: flex;
    flex-direction: row; /* Alinha os elementos verticalmente */
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 35px;
    position: relative;
    gap: clamp(5px,2vw,20px); /* Define um contexto para posicionamento */
    min-height: 15vh;
    h1 {
        font-family: 'SF-pro';
        font-weight: 650;
        font-size: clamp(2rem,10vw,115px);
        position: relative;
        z-index: 1;
        text-align: center; /* Garante que fique centralizado */
        margin: 0; /* Remove margem lateral fixa */
    }
    .subtitle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'SF-pro';
        font-size: clamp(1.5rem,7vw,48px);
        font-weight: 200;
        padding: 10px 0px 0px 0px;
            display: flex;
            gap: 10px; /* Espaçamento entre os ícones */
            margin-top: 10px;
        }
        .icons-container {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .icons-container img, .icons-container svg {
            width: clamp(30px,4w,60px); 
            height: auto;
            padding: 5px;
        }
         .icons-container svg {
            fill: var(--white);
        }
        @media (max-width: 768px) {
            position: relative;
           flex-direction: column;
            align-items: center;
            padding: 20px;
            gap: 15px;
            z-index: 1;
        }
}    

