.button-container {
  display: flex;
  align-items: center;
  img {
    margin: 0 7px;
    width: clamp(25px,4vw,35px);
  }

  button {
    width: clamp(40px, 12vw, 73px);
    height: clamp(18px,3vw,26px);
    background-color: black;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.5s ease-in-out;

    &.active {
      background-color: white;
      .circle {
        width: clamp(13px,2vw,20px);
        height: clamp(13px,2vw,20px);
        background-color: black;
        left: calc(100% - 28px);
      }
    }
  }

  .circle {
    width: clamp(13px,2vw,20px);
    height: clamp(13px,2vw,20px);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 15%;
    transition: left 0.8s ease-in-out, background-color 0.8s ease-in-out;
  }
  @media (max-width: 768px) {
    button {
    &.active {
      .circle {
        left: calc(120% - 28px);
      }
    }
  }
}
}
