<div class="main-container">
    <div class="container-text-pic">
        <div class="texto-sobre-mim">
            <h2>Sobre mim</h2>
            <p>Olá, me chamo Rodger Vidal<br>
            sou um desenvolvedor fullstack,<br>
            focado em java e angular e um <br>
            grande entusiasta de automações <br>
            em python, tenho um fascínio por resolução<br>
            de problemas e soluções práticas, escálaveis<br>
            e eficientes, sempre buscando agregar valor<br>
            aos projetos que desenvolvo.
        </p>
        </div>
        <div class="personal-pic">
            <img src="/assets/imgs/png/Personal-Picture.png" alt="">
        </div>
    </div>
    <div class="container-experiencia-linguagens">
        <img src="" alt="">
        <div class="experiencia">
            <h2>Experiência</h2>
            <h3>Brasfort Segurança e Serviços Terceirizados</h3>
            <h4>Estágio - Fullstack</h4>
            <p>Auxiliar na manuntenção e implementação de<br>
            funções no sistema ERP.<br>
            e auxiliar no desenvolvimento de soluções<br>
            empresariais e administrativas<br>
            utilizando automações e softwares.
        </p>
        <span>11/07/2024 - até o momento</span>
        </div>
        <div class="linguagens">
    
        </div>
    </div>
</div>
