.main-container{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-weight: 400;
    }
    .container-text-pic{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 300px;
        margin-top: 13px;
        .texto-sobre-mim h2{
            font-size: 32px;
            text-align: center;
            padding-bottom: 24px;
           }
           p{
            font-weight: 200;
            font-size: 20px;
            text-align: center  ;
           }
           .personal-pic{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            gap: 20px;
            font-size: 27px;
            font-weight: 600;
        }
    }
    .container-experiencia-linguagens{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 250px;
        .experiencia-card{
            display: flex;
            .pin-timeline{
                margin-top: 30px;
                padding: 30px;
            }
            .experiencia {
                display: flex;
                flex-direction: column;
                h2{
                    text-align: center;
                    font-size: 32px;
                    padding-bottom: 35px;
                }
                h3{
                    font-size: 22px;
                    padding-bottom: 13px;
                    font-weight: 800;
                }
                h4{
                    font-weight: 600;
                    font-size: 20px;
                    padding-bottom: 15px;
                }
                p{
                    font-weight: 500;
                    font-size: 16px;
                    padding-bottom: 10px;
                }
                span{
                    display: flex;
                    justify-content: center;
                    font-size: 17px;
                    font-weight: 800;
                }
            }
        }
        .linguagens-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{ 
                font-size: 32px;
                margin-bottom: 25px;
            }
        }    
    }
}