.main-container {
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: clamp(12px, 5vw, 26px);
        text-align: center;
        font-weight: 400;
        padding-bottom: 25px;
    }

    .container-text-pic {
        display: flex;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        margin-top: 13px;

        .texto-sobre-mim {
            flex: 1;
            max-width: 600px;
            margin: 0;
            padding: 0;

            p {
                font-family: 'Satoshi-Light';
                font-size: 17px;
                line-height: 1.6;
                white-space: pre-wrap;
                text-align: center;
                text-justify: inter-word;
                color: inherit;

                strong {
                    font-family: 'Satoshi-Bold';
                }
            }


        }

        .personal-pic {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-right: 90px;

            img {
                width: clamp(130px, 20vw, 250px);
                border-radius: 100%;
            }
            gap: 20px;
            .bio {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .name {
                    font-family: 'Satoshi-Regular';
                    font-size: 22px;
                }

                .employee {
                    font-family: 'Satoshi-BoldItalic';
                    font-size: 18px;
                }

                .age {
                    font-family: 'Satoshi-Regular';
                    font-size: 16px;
                }

                .city {
                    font-family: 'Satoshi-Light';
                    font-size: 16px;
                }
            }
        }
    }

    .container-stack-link {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 17px;

        .my-stack {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icons {
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 30px;

                svg {
                    width: 75px;
                    height: 75px;
                }
            }
        }

        .links-social {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .cards {
                display: grid;
                grid-template-columns: auto auto;
                gap: 30px;
            }
        }
    }

    @media (max-width:768px) {

        .container-text-pic,
        .container-experiencia-linguagens {
            display: flex;
            flex-direction: column;
        }

        .container-experiencia-linguagens .linguagens-card {
            padding-bottom: 20px;
        }
    }
}