.main-container{
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-weight: 400;
    }
    .container-text-pic{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: clamp(60px,5vw,300px);
        margin-top: 13px;
        .texto-sobre-mim h2{
            font-size: clamp(12px,5vw,32px);
            text-align: center;
            padding-bottom: 24px;
            transition: all 0.9s ease-in-out;
           }
           p{
            font-weight: 200;
            font-size: clamp(7px,3vw,20px);
            text-align: center  ;
            transition: all 0.9s ease-in-out;
           }
           .personal-pic{
            img{
                width: clamp(150px,20vw,302px);
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            gap: clamp(5px,2vw,20px);
            font-weight: 600;
            span {
                font-size: clamp(10px,5vw,27px);
            }
        }
    }
    .container-experiencia-linguagens{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: clamp(80px,10vw,250px);
        .experiencia-card{
            display: flex;
            .pin-timeline{
                img{
                    width: clamp(3px,1vw,15px);
                    height: clamp(60px,10vw,168px);
                }
                margin-top: 30px;
                padding: clamp(10px,5vw,30px);
            }
            .experiencia {
                display: flex;
                flex-direction: column;
                h2{
                    text-align: center;
                    font-size: clamp(14px,5vw,32px);
                    padding-bottom: 35px;
                }
                h3{
                    font-size: clamp(8px,3vw,22px);
                    padding-bottom: 13px;
                    font-weight: 800;
                }
                h4{
                    font-weight: 600;
                    font-size: clamp(12px,3vw,20px);
                    padding-bottom: 15px;
                }
                p{
                    font-weight: 500;
                    font-size: clamp(10px,3vw,16px);
                    padding-bottom: 10px;
                }
                span{
                    display: flex;
                    justify-content: center;
                    font-size: clamp(11px,3vw,17px);
                    font-weight: 800;
                }
            }
        }
        .linguagens-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{ 
                font-size: clamp(12px,5vw,32px);
                margin-bottom: 25px;
            }
        }    
    }
    @media (max-width:768px) {
        .container-text-pic, .container-experiencia-linguagens{
            display: flex;
            flex-direction: column;
        }
        .container-experiencia-linguagens .linguagens-card{
            padding-bottom: 20px;
        }
    }
}