<div class="project-container">
    <h1>Projetos</h1>
    <div class="container-cards">
        <app-card-projeto
            [title]="'Sistema de Validação'"
            [text]="'Sistema de Validação no processo de seleção para aprendizado e prática de Java POO.'"
            [linkImg]="'/assets/imgs/sistema-de-validacao.png'">
        </app-card-projeto>
        <app-card-projeto
            [title]="'Conta Banco'"
            [text]="'Aplicação que simula operações bancárias básicas, praticando fundamentos da linguagem Java.'"
            [linkImg]="'/assets/imgs/conta-banco.png'">
        </app-card-projeto>
        <app-card-projeto
            [title]="'Fast Zero API'"
            [text]="'Projeto para aprendizado do framework FastAPI, desenvolvendo APIs rápidas e eficientes em Python.'"
            [linkImg]="'/assets/imgs/fast-zero-api.png'">
        </app-card-projeto>
        <app-card-projeto
            [title]="'MS-Login-Email'"
            [text]="'Repositório contendo dois microserviços para gerenciamento de usuários e envio de emails, utilizando Spring Boot e PostgreSQL.'"
            [linkImg]="'/assets/imgs/ms-login-email.png'">
        </app-card-projeto>
    </div>
    <div class="container-cards">
        <app-card-projeto
            [title]="'Atividade 2'"
            [text]="'Atividade focada no pilar de Herança da Programação Orientada a Objetos, desenvolvida em Java.'"
            [linkImg]="'/assets/imgs/atividade-2.png'">
        </app-card-projeto>
        <app-card-projeto
            [title]="'Trabalho Final'"
            [text]="'Projeto final demonstrando a aplicação dos conhecimentos adquiridos ao longo do curso.'"
            [linkImg]="'/assets/imgs/trabalho-final.png'">
        </app-card-projeto>
        <app-card-projeto
            [title]="'GitHub Readme Stats'"
            [text]="'Fork do projeto GitHub Readme Stats para exibir estatísticas dinâmicas nos perfis do GitHub.'"
            [linkImg]="'/assets/imgs/github-readme-stats.png'">
        </app-card-projeto>
        <app-card-projeto
            [title]="'Readme Template'"
            [text]="'Template para criação de READMEs estruturados e informativos para projetos no GitHub.'"
            [linkImg]="'/assets/imgs/readme-template.png'">
        </app-card-projeto>
    </div>
    <div class="footer">
        <app-seta-component
        (navigate)="navigate()"
        ></app-seta-component>
    <div class="social-links">
        <a href=""><img src="/assets/imgs/png/LinkedIn-Projetos.png" alt=""></a>
        <a href=""><img src="/assets/imgs/png/Instagram-Projetos.png" alt=""></a>
    </div>
    </div>
</div>
