<div class="form-container">
    <h1>Interessado no meu Trabalho?</h1>
    <h2>Mande uma mensagem abaixo <span> :)</span></h2>
  
    <form [formGroup]="contatoForm" (ngSubmit)="submit()">
      <app-input-formulario
        formControlName="name"
        inputName="name"
        type="text"
        label="Nome"
        placeholder="Nome"
        autocomplete="name"
        minlength="6"
        required>
      </app-input-formulario>
  
      <app-input-formulario
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="Seu Melhor Email!"
        autocomplete="email"
        required>
      </app-input-formulario>
  
      <app-input-message
        class="message-container"
        formControlName="message"
        inputName="mensagem"
        type="text"
        label="Mensagem"
        placeholder="Escreva aqui seu interesse ou como posso ajudá-lo(a)"
        autocomplete="on"
        minlength="10"
        required>
      </app-input-message>
  
      <div class="buttonForm">
        <button type="submit" [disabled]="isDisabled">
          {{ isDisabled ? 'Enviando...' : 'Enviar e-mail' }}
        </button>
      </div>
    </form>
  </div>
  