<nav>
  <div class="container-navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/index"
           [routerLinkActive]="'active'"
           (click)="setActiveLink('inicio')">
          Início
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/sobre"
           [routerLinkActive]="'active'"
           (click)="setActiveLink('sobremim')">
          Sobre Mim
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/projetos"
           [routerLinkActive]="'active'"
           (click)="setActiveLink('projetos')">
          Projetos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/contato"
           [routerLinkActive]="'active'"
           (click)="setActiveLink('contato')">
          Contato
        </a>
      </li>
    </ul>
    <span><a class="buttom-resumo" href="">Resumo</a></span>
  </div>
</nav>
