<nav>
  <div class="container-navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{'active': activeLink === 'inicio'}"
           (click)="scrollToSection('inicio')">
          Início
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{'active': activeLink === 'sobre'}"
           (click)="scrollToSection('sobre')">
          Sobre Mim
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{'active': activeLink === 'projetos'}"
           (click)="scrollToSection('projetos')">
          Projetos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [ngClass]="{'active': activeLink === 'formulario'}"
           (click)="scrollToSection('formulario')">
          Contato
        </a>
      </li>
    </ul>
    <span><a href="/assets/imgs/pdfs/curriculo" target="_blank" class="buttom-resumo">Resumo</a></span>
  </div>
</nav>
