<nav [class.hidden]="isInProjectSection">
  <div class="container-navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
        routerLink="/index"
        [routerLinkActive]="'active'"
        (click)="setActiveLink('inicio')">
        Início
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLink="/sobre"
        [routerLinkActive]="'active'"
        (click)="setActiveLink('sobre')">
          Sobre Mim
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLink="/projetos"
        [routerLinkActive]="'active'"
        (click)="setActiveLink('projetos')">
          Projetos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLink="/contato"
        [routerLinkActive]="'active'"
        (click)="setActiveLink('contato')">
          Contato
        </a>
      </li>
    </ul>
    <!-- O botão "Resumo" agora some quando o menu é aberto -->
    <span>
      <a href="/assets/imgs/pdfs/curriculo" target="_blank" class="buttom-resumo">Resumo</a>
    </span>
  </div>
</nav>
