.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: container 0.7s ease-in-out;
    .header-index{
        padding: 200px;
    }
    .button-dark-mode{
        padding-top: 43px;
        position: relative;
        left: 800px;
    }
}