<div class="container" [class.dark-mode]="isDarkMode">
  <div class="animated-wallpaper">
    <svg xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>
  </div>
  <div class="navbar"
      (mouseover)="setHovered(true)"
      (mouseleave)="setHovered(false)">
      <!-- 🔹 No Desktop: Navbar aparece apenas no hover -->
      <!-- 🔹 No Mobile: Navbar sempre aparece -->
      <app-nav-bar *ngIf="isHovered || isMobile"></app-nav-bar>
  </div>

  <div class="button-dark-mode" (click)="toggleDarkMode()">
      <app-button-dark-mode></app-button-dark-mode>
  </div>

  <div class="header-index">
      <app-header-index></app-header-index>
  </div>
  <div class="seta-wrapper">
  <app-seta-component (click)="navigateTo()"></app-seta-component>
  </div>
</div>
