<div class="container" [class.dark-mode]="isDarkMode"
>
    <div class="navbar"
    (mouseover)="isHovered = true"
    (mouseleave)="isHovered = false"
    >
      <app-nav-bar
      
      ></app-nav-bar>
    </div>
    <div class="button-dark-mode" (click)="toggleDarkMode()">
      <app-button-dark-mode></app-button-dark-mode>
    </div>
    <div class="header-index">
      <app-header-index></app-header-index>
    </div>
    <app-seta-component
    (click)="navigateTo()"
    ></app-seta-component>
  </div>
  