.container {
    min-height: 100vh; // 🔹 Permite crescimento conforme necessário
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; // 🔹 Garante que a nav bar fique visível no topo
    background-color: var(--black);

    .voltar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        position: relative;

        .arrow-down {
            transform: rotate(540deg);
        }

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 380px;
            gap: 20px;
        }
    }
}

/* 🔹 Responsividade mínima para telas menores */
@media (max-width: 768px) {
    .container {
        min-height: auto; // 🔹 Permite crescimento conforme necessário
        padding: 59px 0px; // 🔹 Mantém espaçamento para evitar sobreposição

        .voltar-wrapper {
            margin-top: 30px;

            .icons {
                left: auto;
                position: static;
                gap: 10px;
            }
        }
    }
}