button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg{
      fill: var(--white);
      height: clamp(20px, 10vw,65px);
      transition: all 0.9s ease-in-out;
    }
    &:hover{
        animation: float 1s infinite ease-in-out;
    }
    &:active{
        transform: translateX(5px);
    }
    @keyframes float {
        0% {
            transform: translateY(0); /* Posição inicial */
          }
          50% {
            transform: translateY(-10px); /* Sobe */
          }
          100% {
            transform: translateY(0); /* Volta à posição inicial */
          }
    }
}