.input-wrapper{
    margin-bottom: 25px;
    label{
    font-size: 20px;
    color: var(--white);
    font-weight: 100;
    }
    input{
        width: 100%;
        border: 1.5px solid var(--white);
        border-radius: 12px;
        font-size: 16px;
        padding: 20px 0 20px 20px;
        background-color: transparent;
        color: var(--white);
        outline: none;
        margin: 10px 12px 0 0;
        font-weight: 200;
        
        &:valid:not(:placeholder-shown), &:invalid:not(:placeholder-shown){
            background-repeat: no-repeat;
            background-position: calc(100% - 10px);
            background-size: 25px;
        }
        &:invalid:not(:placeholder-shown){
            border: 2px solid #ff4949;
            background-image: url(/assets/imgs/png/unchecked-mark.png);
        }
        &:valid:not(:placeholder-shown){
            background-image: url(/assets/imgs/png/checked-mark.png);
        }
    }
}
@media (max-width: 768px) {
    .input-wrapper {
        margin-bottom: 15px; // Reduz espaço para melhor visualização
    }

    label {
        font-size: 18px; // Reduz tamanho da fonte do label
    }

    input, textarea {
        font-size: 14px; // Ajusta fonte para melhor encaixe
        padding: 15px; // Reduz padding interno para melhor usabilidade
    }

    textarea {
        height: 120px; // Reduz altura do textarea para não ocupar muito espaço em telas menores
    }
}