<div class="banner">
    <h1>Destaques</h1>
    <div #slider class="slider" style="--quantity: 4">
        <div class="item" style="--position:1">
            <img src="/assets/imgs/png/destaque-1.png" alt="">
        </div>
        <div class="item" style="--position:2">
            <img src="/assets/imgs/png/destaque-2.png" alt="">
        </div>
        <div class="item" style="--position:3">
            <img src="/assets/imgs/png/destaque-3.png" alt="">
        </div>
        <div class="item" style="--position:4">
            <img src="/assets/imgs/png/destaque-4.png" alt="">
        </div>
    </div>
</div>
