.input-wrapper {
    margin-bottom: 25px;
  }
  
  label {
    font-size: 20px;
    color: var(--white);
    font-weight: 100;
  }
  
  .input-content {
    width: 100%;
  }
  
  input, textarea {
    width: 100%;
    border: 1.5px solid var(--white);
    border-radius: 12px;
    font-size: 16px;
    padding: 20px;
    background-color: transparent;
    color: var(--white);
    outline: none;
    margin-top: 10px;
    font-weight: 200;
  
    /* Permitir quebra de linha */
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  textarea {
    height: 150px; /* Definir uma altura maior para o textarea */
    resize: vertical; /* Permitir que o usuário redimensione o campo */
    white-space: pre-wrap; /* Manter quebras de linha */
  }
  