.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 5em;

        h1 {
            font-family: 'Sf-pro';
            font-size: 2rem;
            font-weight: 200;
            padding-bottom: 30px;
        }
    }

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 100px auto;
        z-index: 0;
        
        app-card-exp:nth-child(1) {
            animation-delay: 0s;
        }

        app-card-exp:nth-child(2) {
            animation-delay: 2s;
        }

        app-card-exp:nth-child(3) {
            animation-delay: 3s;
        }

        app-card-exp:nth-child(4) {
            animation-delay: 4s;
        }

        app-card-exp:nth-child(5) {
            animation-delay: 5s;
        }

        &::after {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            background: var(--white);
            top: 0;
            left: 50%;
            margin-left: -3px;
            z-index: -1;
            animation: moveline 7s ease-in-out forwards;
            box-shadow: 0 0px 16px rgba(134, 134, 134, 0.87);
        }

        @keyframes moveline {
            0% {
                height: 0;
            }

            100% {
                height: 100%;
            }
        }
    }
    app-seta-component {
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    .container {
        .timeline {
            margin: 0px;
            app-card-exp {
                margin: 10px;
            }
        }
        .title {
            padding-left: 9em;
            margin-top: 45px;
        }
    }
}