@use  'ngx-toastr/toastr';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF-Pro';
  scroll-behavior: smooth;
}
html, body {
  min-height: 100vh;
  color: var(--white);
  background-color: var(--black);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Garante que não haja rolagem horizontal indesejada */
}

:root {
  --white: white;
  --black: black;
  background-color: var(--white);
  color: var(--black);
}
@font-face {
  font-family: 'SF-Pro';
  src: url(/assets/fonts/SF-Pro-Rounded-Light.otf) format('opentype');
  font-weight: 200;
}
@font-face {
    font-family: 'SF-Pro';
    src: url(/assets/fonts/SFPRODISPLAYBOLD.OTF) format('opentype');
    font-weight: 800;
}
@font-face {
    font-family: 'SF-Pro';
    src: url(/assets/fonts/SFPRODISPLAYREGULAR.OTF) format('opentype');
    font-weight: 500;
}
@font-face {
  font-family: 'SF-Pro';
  src: url(/assets/fonts/SFPRODISPLAYMEDIUM.OTF) format('opentype');
  font-weight: 650;
}
@font-face {
  font-family: 'SF-Pro';
  src: url(/assets/fonts/SF-Pro-Rounded-Thin.otf) format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: 'SF-Pro';
  src: url(/assets/fonts/SF-Pro-Rounded-Medium.otf);
  font-weight: 600;
}