.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .carrousel-container{
        margin-right: 40px;
    }
    .arrow{
        position: absolute;
        top: 850px;
    }
    .slider-logos{
        width: 100%;
        position: absolute;
        top: 650px;
    }
}